version: "3.4"

services:
  redis:
    image: 'redis:6.2-alpine'
    container_name: 'redis'
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - .data/redis/:/data
    restart: always
    ports:
      - '6379:6379'
    networks:
      - backend

  app:
    container_name: "app"
    image: "holodome/holoweb"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - redis
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:
    driver: bridge
