{% extends "base.html" %}

{% block title %}Account{% endblock %}


{% block content %}

<div class="ui main text container">
  <div class="ui horizontal divider"></div>

  <h1 class="ui center aligned huge header">
    Account
  </h1>

  <div class="ui horizontal divider"></div>

  <a class="ui negative button" href="/logout">Logout</a>

  <div class="ui horizontal divider"></div>

  <form class="ui form" method="post" action="/account/change_name">
    <div class="field">
      <label>Name</label>
      <input type="text" name="new_name" placeholder="name" value="{{ name }}">
    </div>
    <button type="submit" class="ui submit button">Change name</button>
  </form>

  <div class="ui section divider"></div>

  <form class="ui form" method="post" action="/account/change_email">
    <div class="field">
      <label>Email</label>
      <input type="text" name="new_email" placeholder="name" value="{{ email }}">
    </div>
    <button type="submit" class="ui submit button">Change email</button>
  </form>

  <div class="ui section divider"></div>

  <form class="ui form" method="post" action="/account/change_password">
    <div class="field">
      <label>Password</label>
      <input type="password" name="current_password" placeholder="Current password">
    </div>
    <div class="field">
      <label>New Password</label>
      <input type="password" name="new_password" placeholder="New password">
    </div>
    <div class="field">
      <label>Repeat new password</label>
      <input type="password" name="repeat_new_password" placeholder="Repeat new password">
    </div>

    <button type="submit" class="ui submit button">Change password</button>
  </form>

  <div class="ui section divider"></div>

  <h2>Content</h2>

  <div class="ui section">
    <h3 class="ui header">
      Projects
    </h3>
    <div class="ui divided list">
      {% for project_info in projects %}
        <div class="item">
          <div class="content">
            <a class="header" href="/projects/{{ project_info.id }}">{{ project_info.title }}</a>
            <div class="description">{{ project_info.brief }}</div>
            <div class="metadata">{{ project_info.role }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui horizontal divider"></div>

  <div class="ui section">
    <h3 class="ui header">
      Projects
    </h3>
    <div class="ui divided list">
      {% for blog_post_info in blog_posts %}
      <div class="item">
        <div class="content">
          <a class="header" href="/blog_posts/{{ blog_post_info.id }}">{{ blog_post_info.title }}</a>
          <div class="description">{{ blog_post_info.brief }}</div>
          <div class="metadata">{{ blog_post_info.role }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui horizontal divider"></div>

  <div class="ui section">
    <h3 class="ui header">
      Comments
    </h3>
    <div class="ui divided list">
      {% for comment_info in comments %}
        <div class="comment">
          <div class="ui large breadcrumb">
            <a class="section" href="/projects/{{ comment_info.project.id }}">{{ comment_info.project.title }}</a>
            <div class="divider"> / </div>
            <a class="section" href="/blog_posts/{{ comment_info.blog_post.id }}">{{ comment_info.blog_post.title }}</a>
          </div>

          <div class="metadata">
            <a>{{ comment_info.date }}</a>
          </div>
          <div class="text">{{ comment_info.contents }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}