<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Holodome{% endblock %}</title>

  <link rel="stylesheet" href="/static/lib/semantic.min.css" type="text/css">
  <script
    src="/static/lib/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/static/lib/semantic.min.js"></script>
  <script src="/static/js/base.js"></script>
</head>

<body>

<header>
  <div class="ui inverted menu">
    <div class="ui container">
      <h3 class="header item">
        Holodome
      </h3>
      <a class="item" href="/account">
        Blog posts
      </a>
      <a class="item" href="/projects">
        Projects
      </a>
      <div class="right menu">
        <a class="item" href="/account">
          Account
        </a>
      </div>
    </div>
  </div>
</header>

{% block content %}

{% endblock %}

<footer>
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned text container">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
