<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Holodome{% endblock %}</title>

  <link rel="stylesheet" href="/static/lib/semantic.min.css" type="text/css">
  <script
    src="/static/lib/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/static/lib/semantic.min.js"></script>
  <script src="/static/js/base.js"></script>

  {% block head %}
  {% endblock %}
</head>

<body>

<header>
  <div class="ui inverted menu">
    <div class="ui container">
      <h3 class="header item">
        Holodome
      </h3>
      <a class="item" href="/blog_posts/all">
        Blog posts
      </a>
      <a class="item" href="/projects/all">
        Projects
      </a>
      <div class="right menu">
        <a class="item" href="/account/home">
          Account
        </a>
      </div>
    </div>
  </div>
</header>

<div class="ui middle aligned center aligned grid" style="margin-top: 50px">
  {% for message in messages.iter() %}
    {% match message.level() %}
      {% when actix_web_flash_messages::Level::Info %}
        <div class="ui info message">
          <div class="header">
            {{ message.content() }}
          </div>
        </div>
      {% when actix_web_flash_messages::Level::Success %}
        <div class="ui success message">
          <div class="header">
            {{ message.content() }}
          </div>
        </div>
      {% when actix_web_flash_messages::Level::Warning %}
        <div class="ui warning message">
          <div class="header">
            {{ message.content() }}
          </div>
        </div>
      {% when actix_web_flash_messages::Level::Error %}
        <div class="ui error message">
          <div class="header">
            {{ message.content() }}
          </div>
        </div>
      {% else %}
    {% endmatch %}
  {% endfor %}
</div>

{% block content %}

{% endblock %}

<div class="ui horizontal divider"> </div>

<footer>
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned text container">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
