<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holodome</title>

    <link rel="stylesheet" href="static/semantic.min.css" type="text/css">
    <script
            src="/static/scripts/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/static/scripts/semantic.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<div class="ui inverted vertical center aligned segment">
    <div class="ui container">
        <div class="ui large borderless inverted menu">
            <a class="item" href="#about">About</a>
            <a class="item" href="/posts">Posts</a>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

<h4 class="ui horizontal divider header">
    <a href="#about" id="about">
        About
    </a>
</h4>

<div class="ui vertical stripe">
    <div class="ui text container">
        <p>Hello</p>
    </div>
</div>

</body>
</html>
