{% extends "base.html "%}

{% block title %}Blog posts{% endblock %}

{% block content %}

<div class="ui text container">
  <div class="ui horizontal divider"></div>
  {% for blog_post in blog_posts %}
    <div class="ui text container">
      <h1 class="ui huge header">
        <a href="/blog_posts/{{blog_post_id}}" class="article-link">
          {{ blog_post.title }}
        </a>
      </h1>
      <p>{{ blog_post.brief }}</p>
    </div>
    {% if !loop.last %}
      <div class="ui horizontal divider"></div>
    {% endif %}
  {% endfor %}
  <div class="ui horizontal divider"></div>
</div>

{% endblock %}