{% extends "base.html" %}

{% block title %}{{ blog_post.title }}{% endblock %}

{% block head %}
<script src="/static/lib/dropdown.min.js"></script>
<link rel="stylesheet" href="/static/lib/dropdown.min.css" type="text/css">
<script src="/static/js/blog_post.js"></script>
{% endblock %}

{% block content %}

<div class="ui text container">
  <div class="ui horizontal divider"></div>
  <h1 class="ui huge header">
    {{ blog_post.title }}
  </h1>

  <p>{{ blog_post.brief }}</p>

  <div class="ui text container">
    {{ blog_post.contents }}
  </div>

  <h2 class="ui horizontal divider header">Comments</h2>
  <div class="ui comments">

    <form hidden class="ui reply form" action="/blog_posts/{{blog_post.id}}/comments/create" method="post" id="comment-reply-form">
      <input type="hidden" id="comment-reply-form-id" value="" name="reply_to_id">
      <div class="field">
        <textarea name="contents"></textarea>
      </div>
      <button class="ui blue submit button" type="submit">
        Add Reply
      </button>
    </form>

    <form hidden class="ui reply form" method="post" id="edit-comment-form">
      <div class="field">
        <textarea id="edit-comment-form-contents" name="contents"></textarea>
      </div>
      <button class="ui blue submit button" type="submit">
        Edit
      </button>
    </form>

    <form class="ui reply form" action="/blog_posts/{{blog_post.id}}/comments/create" method="post" id="reply-form">
      <div class="field">
        <textarea name="contents"></textarea>
      </div>
      <button class="ui blue submit button" type="submit">
        Add Reply
      </button>
    </form>

    <div class="ui section divider"> </div>

    {{ rendered_comments }}
  </div>
</div>
{% endblock %}