{% extends "base.html" %}

{% block content %}

<div class="ui raised very padded text container segment">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <div class="ui image header">
        <div class="content">
          Change password
        </div>
      </div>
      <form class="ui large form" action="/change_password" method="post">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui input">
              <input type="password" name="current_password" placeholder="Current password">
            </div>
          </div>
          <div class="field">
            <div class="ui input">
              <input type="text" name="new_name" placeholder="New Name">
            </div>
          </div>
          <button class="ui fluid large submit button" type="submit">Change</button>
        </div>

      </form>

      {% for error in errors %}
      <div class="ui negative message">
        {{ error }}
      </div>
      {% endfor %}
      {% for info in infos %}
      <div class="ui positive message">
        {{ info }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}