<div class="comment" id="comment-{{ id }}">
  <div class="content">
    <a class="author">{{ author }}</a>
    <div class="metadata">
      <span class="date">{{ date }}</span>
    </div>
    <div class="text">
      <p>{{ contents }}</p>
    </div>
    <div class="actions">
      <a class="reply comment-reply-button" id="reply-comment-{{ id }}">Reply</a>
    </div>
  </div>
  {% if !rendered_children.is_empty() %}
    <div class="comments">
      {% for child in rendered_children %}
        {{ child }}
      {% endfor %}
    </div>
  {% endif %}
</div>
