{% extends "base.html" %}

{% block title %}Edit {{ blog_post.title }}{% endblock %}

{% block content %}

<div class="ui main text container">
  <div class="ui horizontal divider"></div>

  <form class="ui large form" method="post" action="{{ action }}">
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" value="{{ blog_post.title }}">
    </div>

    <div class="ui section divider"></div>

    <div class="field">
      <label>Brief</label>
      <input type="text" name="brief" placeholder="Brief" value="{{ blog_post.brief }}">
    </div>

    <div class="ui section divider"></div>

    <div class="field">
      <label>Contents</label>
      <textarea name="contents">{{ blog_post.contents }}</textarea>
    </div>

    <button class="ui fluid large submit button" type="submit">Submit</button>
  </form>

  <div class="ui horizontal divider"></div>
</div>

{% endblock %}