{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<script src="/static/js/login.js"></script>
<link rel="stylesheet" href="/static/css/login.css" type="text/css">
{% endblock %}

{% block content %}

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui image header">
      <div class="content">
        Login to your account
      </div>
    </div>
    <form class="ui large form" action="/login" method="post">
      <div class="ui stacked segment">
        <div class="required field">
          <div class="ui input">
            <input type="text" name="name" placeholder="Name">
          </div>
        </div>
        <div class="required field">
          <div class="ui input">
            <input type="password" name="password" placeholder="Password" id="password_input">
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="show_password_checkbox">
            <label>Show password</label>
          </div>
        </div>
        <button class="ui fluid large submit button" type="submit">Login</button>
      </div>
    </form>

    <div class="ui message">
      New to us? <a href="/registration">Sign Up</a>
    </div>
  </div>
</div>

{% endblock %}