{% extends "base.html" %}

{% block title %}Account{% endblock %}


{% block content %}

<div class="ui main text container">
    <div class="ui horizontal divider"></div>

    <h1 class="ui center aligned huge header">
        {{ name }}
    </h1>

    <div class="ui horizontal divider"></div>

    <div class="ui section">
        <h3 class="ui header">
            Projects
        </h3>
        <div class="ui divided list">
            {% for project_info in projects %}
            <div class="item">
                <div class="content">
                    <a class="header" href="/projects/{{ project_info.id }}/view">{{ project_info.title }}</a>
                    <div class="description">{{ project_info.brief }}</div>
                    <div class="metadata">{{ project_info.role }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui horizontal divider"></div>

    <div class="ui section">
        <h3 class="ui header">
            Projects
        </h3>
        <div class="ui divided list">
            {% for blog_post_info in blog_posts %}
            <div class="item">
                <div class="content">
                    <a class="header" href="/blog_posts/{{ blog_post_info.id }}/view">{{ blog_post_info.title }}</a>
                    <div class="description">{{ blog_post_info.brief }}</div>
                    <div class="metadata">{{ blog_post_info.role }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui horizontal divider"></div>

    <div class="ui section">
        <h3 class="ui header">
            Comments
        </h3>
        <div class="ui divided list">
            {% for comment_info in comments %}
            <div class="comment">
                <div class="ui large breadcrumb">
                    <a class="section" href="/blog_posts/{{ comment_info.blog_post_id }}/view">{{ comment_info.blog_post_title }}</a>
                </div>

                <div class="metadata">
                    <a>{{ comment_info.date }}</a>
                </div>
                <div class="text">{{ comment_info.contents }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}